<div class="container">
  <div class="form">
    <h1>Edit <%= @flat.name %></h1>
    <%= render 'shared/form', flat: @flat %>
  </div>
  <%= link_to @flat, class: "btn btn-outline-secondary" do %>
    <p class="m-0"><i class="fas fa-angle-left"></i> Back</p>
  <% end %>
  <%= link_to flats_path, class: "btn btn-outline-secondary" do %>
    <p class="m-0"><i class="fas fa-home"></i> Home</p>
  <% end %>
</div>
