<div class="container">
  <h1>Flats</h1>
  <div class="cards">
    <% @flats.each do |flat| %>
      <div class="card-body">
        <p class="m-0 fw-bold"><%= flat.name %></p>
        <p class="m-0"><%= flat.address %></p>
        <p class="m-0"><%= flat.price_per_night %></p>
        <p class="m-0"><%= flat.number_of_guests %></p>
      </div>
    <% end %>
  </div>
</div>
