<div class="container">
  <h1>Add a Flat</h1>
  <%= render 'shared/form', flat: @flat %>
  <%= link_to flats_path do %>
    <p class="m-0"><i class="fas fa-angle-left"></i> Back</p>
  <% end %>
</div>
