.banner {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  padding: 160px 0;
  h1 {
    font-size: 56px;
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}